.app-header {
  background-color: var(--header-color);
  height: var(--header-height);
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 20px;
}
.app-header img {
  object-fit: cover;
  height:70%;
}
.app-header__title{
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 30px;
}