.SearchBookmark{
  border: 1px solid lightblue;
  border-radius: var(--global-radius);
  position: relative;
  display: flex;
  align-items: center;
  max-width: 200px;
  padding: 2px 5px 2px 2px;
}
.SearchBookmark button{
  padding-top: 2px;
  border: none;
  background: none;
}
.SearchBookmark input{
  border: none;
  flex-shrink: 1;
  outline: none;
}
