:root{
  --header-color: rgb(33, 55, 96);
  --klaxoon-pink-hover: rgb(255, 50, 151);
  --klaxoon-pink:rgb(236, 38, 136);
  --header-height: 55px;
  --bookmark-height: 100px;
  --max-width: 800px;
  --min-width: 240px;
  --global-radius: 5px;
}

.App{
  text-align: center;
}