:root{
  /* --header-color-left: rgb(192 84 116 / 80%); */
  /* --header-color-right: rgb(248 149 109 / 80%); */
  --header-color-left: rgb(208, 122, 143);
  --header-heavy-color-left: rgb(192 84 116 / 94%);
  --header-color-right: rgb(248, 168, 138);
  --header-heavy-color-right: rgb(248 149 109 / 95%);
  --header-height: 50px;
  --bookmark-height: 100px;
  --max-width: 800px;
  --min-width: 240px;
  --global-radius: 5px;
}

.App{
  text-align: center;
}